<form asp-action="Index">
    <input type="text" name="FullName" placeholder="Ten">
    <input type="text" name="ChieuCao" placeholder="M">
    <input type="text" name="cannang" placeholder="Kg">
    <input type="submit"> 
    <h1>@ViewBag.message </h1>
</form>
