@{
    Viewdata["Tiêu Đề"] = "Home Page";

}
<form asp-action="Index">
    <label>Nhập Chiều Cao:</label>
    <input type="text" name="Chieu Cao">
    <label>Nhập Cân Nặng:</label>
    <input type="text" name="Can Nang">
    <input type="submit" value="Gửi Dữ Liệu">
</form>
<h1>@ViewBag.Message</h1>
